* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
h1 {
  font-family: "Open Sans";
  font-size: 3vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 3.2vh;
}
h3 {
  font-family: "Open Sans";
  font-size: 2vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 2.2vh;
}
p {
  font-family: "Open Sans";
  font-size: 2vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 3vh;
}
span {
  font-family: "Open Sans";
  font-size: 2vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 3vh;
}
a {
  color: black;
  text-decoration: none;
  font-family: "Open Sans";
  font-size: 2vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 3vh;
}
blockquote {
  font-family: "Open Sans";
  font-size: 3vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 4vh;
}
pre {
  font-family: "Open Sans";
  font-size: 2vh;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 2.5vh;
}
.navbar {
  position: fixed;
  border-bottom: 1px solid rgb(255, 196, 0);
  height: 11.5%;
  width: 100%;
  background-color: white;
  z-index: 2;
}
main {
  position: absolute;
  top: 11.5%;
  width: 100%;
  height: 100%;
}
.navbar h3 {
  position: absolute;
  top: 50%;
  left: 3vh;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 3vh;
}
.call {
  position: absolute;
  right: 3vh;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.fa-phone-alt {
  margin-right: 1vh;
  font-size: 4vh;
  color: rgb(255, 196, 0);
}
.call a {
  font-size: 2.5vh;
}
.rolling-pics {
  position: relative;
  max-width: 100%;
  float: left;
  height: 65vh;
  margin-bottom: 4vh;
}
.rolling-pics::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.6);
}
.rolling-pics img {
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  display: block;
  transition: opacity 1s ease-in, visibility 1s ease-in;
  height: 65vh;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}
.amenities {
  height: 20vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.amenities h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 3.5vh;
}
.amen-grid {
  height: 20vh;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto;
  align-items: center;
  grid-column-gap: 1.5vh;
  justify-content: center;
}
.amen-item {
  height: 12vh;
  width: 12vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 6vh;
  border: 0.1vh solid rgb(255, 196, 0);
}
.amen-item .fa-paw {
  position: relative;
  margin-left: 2.2vh;
  margin-top: 2.2vh;
  font-size: 7.5vh;
  color: rgb(255, 196, 0);
  text-align: center;
}
.amen-item .fa-wifi {
  position: relative;
  margin-left: 1.4vh;
  margin-top: 2.2vh;
  font-size: 7.5vh;
  color: rgb(255, 196, 0);
  text-align: center;
}
.amen-item .fa-parking {
  position: relative;
  margin-left: 2.75vh;
  margin-top: 2.2vh;
  font-size: 7.5vh;
  color: rgb(255, 196, 0);
  text-align: center;
}
.amen-item p {
  margin-top: 2.5vh;
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
}
.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.description h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 3.5vh;
}
.description p {
  margin-top: 0.5vh;
  font-size: 2vh;
  color: rgba(50, 50, 50, 255);
}
footer {
  margin-top: 14vh;
}
.footer {
  margin-top: 2vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer h3 {
  text-decoration: underline;
  font-size: 2.5vh;
}
.footer p {
  font-size: 1.75vh;
  color: rgba(50, 50, 50, 255);
}
.footer a {
  font-size: 1.75vh;
}
.footer .copyright {
  text-align: center;
  padding-bottom: 2vh;
  font-weight: bold;
  font-size: 2vh;
}
.footer .contact {
  margin-bottom: 2vh;
}
.booking-engine {
  margin-top: 0px;
}
.map {
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  height: 45vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  width: 90%;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.gallery img {
  width: 40vh;
  height: 40vh;
  margin: 1vh;
  object-fit: cover;
}
.gallery img:hover {
  cursor: zoom-in;
}
.amenities-all {
  height: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 8vh;
}
li::marker {
  color: black;
}
.amenity-title::marker {
  color: transparent;
}
.amenity-title svg {
  position: relative;
  margin-left: -2.8vh;
  margin-right: 0.5vh;
  font-size: 2.5vh;
  min-width: 3vh;
}
.amenity-title {
  font-size: 3vh;
  font-weight: bold;
}
.amenity-li {
  color: rgba(50, 50, 50, 255);
  font-size: 2vh;
}
.amenity-group {
  margin-bottom: 4vh;
  margin-right: 6vh;
  display: block;
}
.note {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 2vh;
}
.flag {
  position: absolute;
  right: 10vh;
  top: 50%;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border-radius: 3vh;
  height: 6vh;
  width: 6vh;
  border-radius: 3vh;
  border: 0.1vh solid rgb(255, 196, 0);
  overflow: hidden;
}
.flag img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  height: 7vh;
  width: 7vh;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
